@media (max-width: 600px) {
  .body {
    background: url("/images/bg-mobile.png") center center/cover;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .component {
    margin-top: 0;
    padding-top: 4rem;
    background: url("/images/bg-mobile.png") center center/cover;

    &__block {
      margin-bottom: 1rem;
      padding-left: 2rem;
      margin-right: 0;
      width: 18rem;
      height: 10rem;
    }

    &__logo img {
      width: 8rem;
    }

    &__info {
      width: 18rem;
      height: 9rem;
      margin-right: 0;

      p {
        text-align: center;
        font-size: 0.8rem;
      }
    }

    &__left {
      border-bottom-right-radius: inherit;
      top: 7.5rem;
      left: 5rem;
      width: 8rem;
      height: 4rem;
      line-height: 4rem;

      &:before {
        display: none;
      }
      .bold {
        font-size: 2rem;
      }

      .dim {
        font-size: 0.7rem;
      }
    }
  }
}
